In [5]:
import pandas as pd
import numpy as np

from src.config import RAW_DATA_DIR

In [6]:
data = pd.read_csv(RAW_DATA_DIR / 'weekly_vegetable_sales.csv')

In [7]:
data

     year_week        vegetable  sales
0       202001           Tomate    489
1       202001             Peer     95
2       202001  Brussell Sprout     11
3       202002           Tomato    505
4       202002             Peer     99
..         ...              ...    ...
622     202352             Pear     98
623     202352    Brusselsprout     11
624     202001           tomato    100
625     202001           tomato    100
626     202002           tomato    100

[627 rows x 3 columns]

In [9]:
occurance = data['vegetable'].value_counts()
occurance

vegetable
Brussell Sprout    61
Poire              58
Tomato             57
Pear               57
Brusel Sprout      55
Tomate             52
Tomatto            50
tomaot             49
Peer               47
Brussel Sprout     47
Pera               46
Brusselsprout      45
tomato              3
Name: count, dtype: int64

In [ ]:
def data_clean(data : str) -> (str, bool):
    error_table = {
        "Tomate": "Tomato",
        "Tomatto": "Tomato",
        "tomaot": "Tomato",
        "tomato": "Tomato",
        "Poire": "Peer",
        "Pera": "Peer",
        "Brussell Sprout" : "Brussel Sprout",
        "Brusselsprout" : "Brussel Sprout",
        "Brusel Sprout" : "Brussel Sprout",
    }

    if data in error_table.keys():
        return error_table[data], True
    return data, False