In [4]:

from src.config import RAW_DATA_DIR

2025-04-09 16:38:29.788 | INFO     | src.config:<module>:10 - PROJ_ROOT path is: /home/arys/projects/ml_industrielisation

In [5]:
config = {
    "data": {
        "sales": RAW_DATA_DIR/"sales.csv",
    },
    "start_test": "2023-07-01",
    "model": "SameMonthLastYearSales",
}

In [6]:
import pandas as pd

In [39]:
df_sales = pd.read_csv(config["data"]["sales"])

In [40]:
df_sales.head()

        dates item_id        sales
0  2019-10-01  item_0  3134.441857
1  2019-11-01  item_0  3354.163648
2  2019-12-01  item_0  4436.384341
3  2020-01-01  item_0  6180.406427
4  2020-02-01  item_0  5349.843337

In [41]:
df_sales.groupby("item_id")

In [42]:
df_sales["prediction"] = df_sales["sales"].shift(1)

In [43]:
df_sales["pred2"] = df_sales.groupby("item_id")["sales"].shift(1)

In [47]:
df_sales.head(200)

          dates item_id        sales   prediction        pred2
0    2019-10-01  item_0  3134.441857          NaN          NaN
1    2019-11-01  item_0  3354.163648  3134.441857  3134.441857
2    2019-12-01  item_0  4436.384341  3354.163648  3354.163648
3    2020-01-01  item_0  6180.406427  4436.384341  4436.384341
4    2020-02-01  item_0  5349.843337  6180.406427  6180.406427
..          ...     ...          ...          ...          ...
195  2023-04-01  item_3  4336.870844  5244.157780  5244.157780
196  2023-05-01  item_3  5019.519683  4336.870844  4336.870844
197  2023-06-01  item_3  5874.459044  5019.519683  5019.519683
198  2023-07-01  item_3  4909.853204  5874.459044  5874.459044
199  2023-08-01  item_3  3484.185653  4909.853204  4909.853204

[200 rows x 5 columns]